<?xml version="1.0"?>
<model>
  <name>Mini Talon with Camera </name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Ryan Berry</name>
  </author>

  <description>
    X-UAV Mini Talon V-Tail with thermal and IR camera.

    Original CAD model by Alessandro Bacchini,
    retrieved from GradCAD 04 July 2023.

    https://grabcad.com/alessandro.bacchini-2
    https://grabcad.com/library/mini-talon-x-uav-1


    Motor model by Seth Schaffer,
    retrieved from GradCAD 04 July 2023.

    https://grabcad.com/seth.schaffer-1
    https://grabcad.com/library/configurable-propdrive-v2-brushless-motor-with-mount-plate-solidworks-2019-1
  </description>
</model>

